.absolute {
  position: absolute
}

.relative {
  position: relative
}

.bottom-0 {
  bottom: 0px
}

.left-28 {
  left: 7rem
}

.right-0 {
  right: 0px
}

.top-6 {
  top: 1.5rem
}

.z-10 {
  z-index: 10
}

.inline-block {
  display: inline-block
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.h-screen {
  height: 100vh
}

.max-w-lg {
  max-width: 32rem
}

.cursor-pointer {
  cursor: pointer
}

.items-center {
  align-items: center
}

.bg-red-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity))
}

.p-16 {
  padding: 4rem
}

.p-4 {
  padding: 1rem
}

.font-sans {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.font-medium {
  font-weight: 500
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.no-underline {
  text-decoration-line: none
}
